
<%= stylesheet_link_tag "chat_style"%>


<div class="chat-box">
  	<div id='chat' class="chat">
	    <div id="chat-container" class="chat-container active messages">
	 		<%= render @messages %>
		</div>
	</div>
	<div class="chat-control">
    	<%= form_for Message.new, url: messages_path, method: :post, remote: :true do |f| %>
		    <%= f.text_field :text, class: 'chat-input', placeholder: "enter your message" %>
		    <%= f.hidden_field :receiver_id,  value: @receiver_id  %>
		    <%= f.submit 'send' %>
		<% end %>
  	</div>
</div>
<%= javascript_include_tag "chat_js" %>



	

  


<!-- http://codepen.io/jdniki/pen/LNdZLo %>