<center>
<div class="conversation">
 	<%= render @messages %>
</div>

<%= form_for Message.new, url: messages_path, method: :post, remote: :true do |f| %>
    <%= f.text_area :text %>
    <%= f.hidden_field :receiver_id,  value: @receiver_id  %>
    <%= f.submit 'send' %>
<% end %>

</center>

