<h2 class="desc">Speaks 
<% if (logged_in? && current_user == @user) %>
    <a href='/languages'><i class="fa fa-pencil" aria-hidden="true"></i></a>
<% end %>
</h2>   
<ul class="list-inline">
<% if @user.languages.any? %>
<%  @user.languages.each do |lang| %>
    <li><%= lang.language %>
    <%= link_to languages_users_remove_user_language_path(:remove_language_id => lang.id ), method: :post do%>
    <i class="fa fa-times" aria-hidden="true"></i>
    <% end %></li> 
<% end %>
<% else %>
    <li>Not set yet</li> 
<% end %>  
 <%= form_for LanguagesUser.new, url: languages_users_add_user_language_path, method: :post, :remote => true do |f| %>
    <%= f.collection_select :language, Language.all, :id, :language %>
    <%= f.submit 'Add' %>
<% end %>
</ul> 