<center><h1> Your page </h1></center>

<center><h2>User : <%= @user.id %></h2><center>

<center>

Username: <%= @user.username %><br/>
Email: <%= @user.email %><br/><br/>
Gender: <%= @user.profile.gender %><br/>
Birth Date: <%= @user.profile.birth_date %><br/>
About me: <%= @user.profile.about_me %><br/>
Your profile image:  
<% if @user.profile.avatar? %>
<br/><%= image_tag @user.profile.avatar_url %><br/>
<% end %>


<br/>

<!-- <% @friends.each do |friend| %>
<ul>
	<li>
		<%= friend.username %>
	</li>
</ul>
<% end %> -->
<% if logged_in? && current_user == @user %>
<%= link_to 'Edit your profile', edit_profile_path(@user.profile.id) %><br/>
<%= link_to 'Your friends', friendships_path %><br/>
<%= link_to 'All users', users_path %><br/>
<% else %>
<%= link_to 'Back to your profile', user_path(current_user.id) %><br/>
<% end %>
</center>
