<!-- ******HEADER****** --> 
<header class="header">
<div class="container">                       
	<% if @user.profile.avatar? %>
		<br/><%= image_tag @user.profile.avatar_url, class: 'profile-image img-responsive pull-left' %><br/>
	<% end %>
    <div class="profile-content pull-left">
        <h1 class="name"><%= @user.username %></h1>
        <div class="spoken_languages_div">
            <%= render :partial => 'languages_users/spoken_languages'%>
        </div>
        <div class="learning_languages_div">
            <%= render :partial => 'languages_users/learning_languages'%>
        </div>
    </div><!--//profile-->    
    <% if (logged_in? && current_user == @user) %>
		<%= link_to 'Edit profile', edit_profile_path(@user.profile.id), class: 'btn-cta-primary pull-right fa fa-cog' %><br/>
		<%= link_to 'Your friends', friendships_path, class: 'btn-cta-primary pull-right' %><br/>
		<%= link_to 'All users', users_path,  class: 'btn-cta-primary pull-right' %><br/>
	<% else %>
    <%= link_to 'Messsage', message_path(@user.id), class: 'btn-cta-primary pull-right fa fa-cog' %><br/>
		<%= link_to 'Back to your profile', user_path(current_user.id), class: 'btn-cta-primary pull-right' %><br/>
	<% end %>
    <!--<a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>  -->            
</div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <div class="user_profile_about_me_div">
                <%= render :partial => 'profiles/about_me_partial' %> 
            </div>
            <div class="user_posts_div">
                <%= render :partial => 'posts/posts_partial' %> 
            </div>
        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <div class="user_profile_info_div">
                <%= render :partial => 'profiles/user_profile_partial' %> 
            </div>
            <div class="visited_countries_div">
                <%= render :partial => 'visited_countries/visited_countries_partial' %>
            </div>
            <div class="languages_levels_div">
                <%= render :partial => 'languages/languages_levels_partial' %>
            </div>      
        </div><!--//secondary-->    
    </div><!--//row-->
</div><!--//masonry-->

<script type="text/javascript">
  function showVisitedCountryEdit() {

    div = document.getElementById('visited_countries_edit');
    var dates = document.querySelectorAll('*[id^="visited_country_remove"]');

    if(div.style.display == "none")
    {
        div.style.display = "block";
        for (i = 0; i < dates.length; i++)
        {
            dates[i].style.display = "inline-block";
        }
    }
    else
    {
        div.style.display = "none";
        for (i = 0; i < dates.length; i++)
        {
            dates[i].style.display = "none";
        }
    }
}
function showUserProfileEdit() {

    divedit = document.getElementById('user_profile_edit');
    divinfo = document.getElementById('user_profile_info');

    if(divinfo.style.display == "none")
    {
        divinfo.style.display = "block";
        divedit.style.display = "none"
    }
    else
    {
        divinfo.style.display = "none";
        divedit.style.display = "block"
    }
}
function showUserAboutMeEdit() {

    divedit = document.getElementById('user_about_me_edit');
    divinfo = document.getElementById('user_about_me');

    if(divinfo.style.display == "none")
    {
        divinfo.style.display = "block";
        divedit.style.display = "none"
    }
    else
    {
        divinfo.style.display = "none";
        divedit.style.display = "block"
    }
}
function showUserPostsEdit() {

    divedit = document.getElementById('user_post_edit');

    if(divedit.style.display == "none")
    {
        divedit.style.display = "block"
    }
    else
    {
        divedit.style.display = "none"
    }
}
function showLearnLanguagesEdit() {

    div = document.getElementById('learn_languages_edit');
    var dates = document.querySelectorAll('*[id^="learn_language_remove"]');

    if(div.style.display == "none")
    {
        div.style.display = "inline-block";
        for (i = 0; i < dates.length; i++)
        {
            dates[i].style.display = "inline-block";
        }
    }
    else
    {
        div.style.display = "none";
        for (i = 0; i < dates.length; i++)
        {
            dates[i].style.display = "none";
        }
    }
}
function showSpeakLanguagesEdit() {

    div = document.getElementById('spoken_languages_edit');
    var dates = document.querySelectorAll('*[id^="spoken_language_remove"]');

    if(div.style.display == "none")
    {
        div.style.display = "inline-block";
        for (i = 0; i < dates.length; i++)
        {
            dates[i].style.display = "inline-block";
        }
    }
    else
    {
        div.style.display = "none";
        for (i = 0; i < dates.length; i++)
        {
            dates[i].style.display = "none";
        }
    }
}
</script>
