<!-- ******HEADER****** --> 
<header class="header">
<div class="container">                       
	<% if @user.profile.avatar? %>
		<br/><%= image_tag @user.profile.avatar_url, class: 'profile-image img-responsive pull-left' %><br/>
	<% end %>
    <div class="profile-content pull-left">
        <h1 class="name"><%= @user.username %></h1>
        <h2 class="desc">Speaks 
        <% if (logged_in? && current_user == @user) %>
            <a href='/languages'><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <% end %>
        </h2>   
        <ul class="social list-inline">
        <% if @user.languages.any? %>
        <%  @user.languages.each do |lang| %>
            <li><%= lang.language %></li> 
        <% end %>
        <% else %>
            <li>Not set yet</li> 
        <% end %>  
        </ul> 
        <h2 class="desc">Wants to learn 
        <% if (logged_in? && current_user == @user) %>
            <a href='/languages/learns_languages'><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <% end %>
        </h2>   
        <ul class="social list-inline">
        <% if @user.learn_languages.any? %>
        <%  @user.learn_languages.each do |lang| %>
            <li><%= lang.language %></li> 
        <% end %>
        <% else %>
            <li>Not set yet</li> 
        <% end %>                  
        </ul> 
    </div><!--//profile-->    
    <% if (logged_in? && current_user == @user) %>
		<%= link_to 'Edit profile', edit_profile_path(@user.profile.id), class: 'btn-cta-primary pull-right fa fa-cog' %><br/>
		<%= link_to 'Your friends', friendships_path, class: 'btn-cta-primary pull-right' %><br/>
		<%= link_to 'All users', users_path,  class: 'btn-cta-primary pull-right' %><br/>
	<% else %>
		<%= link_to 'Back to your profile', user_path(current_user.id), class: 'btn-cta-primary pull-right' %><br/>
	<% end %>
    <!--<a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>  -->            
</div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">About Me</h2>
                    <div class="content">
                        <p><%= @user.profile.about_me %>.</p>
                    </div><!--//content-->
                </div><!--//section-inner-->                 
            </section><!--//section-->
           <section class="latest section">
                <div class="section-inner">
                    <h2 class="heading">Latest Posts</h2>
                    <div class="content">     
                        <div class="item row">
                            <a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">
                            <img class="img-responsive project-image" src="assets/images/projects/project-4.png" alt="project name" />
                            </a>
                            <div class="desc col-md-8 col-sm-8 col-xs-12">
                                <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">Velocity - Designed for Products</a></h3>
                                <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                
                            </div><!--//desc-->                          
                        </div><!--//item-->
                        <hr class="divider" />
                        <div class="item row">
                            <a class="col-md-4 col-sm-4 col-xs-12" href="https://wrapbootstrap.com/theme/tempo-designed-for-startups-WB07364T3?ref=3wm" target="_blank">
                            <img class="img-responsive project-image" src="assets/images/projects/project-1.png" alt="project name" />
                            </a>
                            <div class="desc col-md-8 col-sm-8 col-xs-12">
                                <h3 class="title"><a href="https://wrapbootstrap.com/theme/tempo-designed-for-startups-WB07364T3?ref=3wm" target="_blank">Tempo - Designed for Startups</a></h3>
                                <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                
                            </div><!--//desc-->                          
                        </div><!--//item-->   
                        <hr class="divider" />                    
                        <div class="item row">
                            <a class="col-md-4 col-sm-4 col-xs-12" href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">
                            <img class="img-responsive project-image" src="assets/images/projects/project-2.png" alt="project name" />
                            </a>
                            <div class="desc col-md-8 col-sm-8 col-xs-12">
                                <h3 class="title"><a href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">Delta - Designed for Mobile Apps</a></h3>
                                <p> You can put one of your secondary projects here. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                                
                            </div><!--//desc-->                          
                        </div><!--//item-->
                        
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </section><!--//section-->     
        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
             <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                        	<li><i class="fa fa-globe" aria-hidden="true"></i><%= @from_country%></li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>last location<!--<%= request.location.city %>--></li>
                            <li><i class="fa fa-venus-mars" aria-hidden="true"></i><%= @user.profile.gender %></li>
                            <li><i class="fa fa-birthday-cake" aria-hidden="true"></i><%= @user.profile.birth_date %></li>
                        </ul>
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//aside-->      
            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Visited Countries</h2>
                    <div class="content">
                        <!-- list of countries-->  
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>England</strong></span><br/>
                                <span class="title"><strong>Spain</strong></span><br/>
                                <span class="title"><strong>Greece</strong></span>
                            </li><!--//item-->
                            
                        </ul>           
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//section-->
            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>English:</strong></span>
                                <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>Spanish:</strong></span>
                                <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                            </li><!--//item-->
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->           
        </div><!--//secondary-->    
    </div><!--//row-->
</div><!--//masonry-->
    

<!--
<center><h1> Your page </h1></center>

<center><h2>User : <%= @user.id %></h2><center>

<center>

Username: <%= @user.username %><br/>
Email: <%= @user.email %><br/><br/>
Gender: <%= @user.profile.gender %><br/>
Birth Date: <%= @user.profile.birth_date %><br/>
About me: <%= @user.profile.about_me %><br/>
Your profile image:  
<% if @user.profile.avatar? %>
<br/><%= image_tag @user.profile.avatar_url %><br/>
<% end %> 


<br/>-->

<!-- <% @friends.each do |friend| %>
<ul>
	<li>
		<%= friend.username %>
	</li>
</ul>
<% end %> -->
<!--
<% if (logged_in? && current_user == @user) %>
<%= link_to 'Edit your profile', edit_profile_path(@user.profile.id) %><br/>
<%= link_to 'Your friends', friendships_path %><br/>
<%= link_to 'All users', users_path %><br/>
<% else %>
<%= link_to 'Back to your profile', user_path(current_user.id) %><br/>
<% end %> 
</center>-->
